body {
    background-image: url("https://i.pinimg.com/originals/4a/85/c4/4a85c407848cafba739a432313415f35.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 800px) {
    body {
    background-size: cover;
    background-attachment: fixed;
    }
}

button {
    display: inline-block;
    size: 250px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}